In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('causes_of_death.tsv', delimiter='\t')
print(len(df))
df.head()

4115

,Notes,State,State Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Race,Race Code,Deaths,Population,Crude Rate
0,NaN,Alabama,1,< 1 year,1,Female,F,American Indian or Alaska Native,1002-5,14,3579,Unreliable
1,NaN,Alabama,1,< 1 year,1,Female,F,Asian or Pacific Islander,A-PI,24,7443,322.5
2,NaN,Alabama,1,< 1 year,1,Female,F,Black or African American,2054-5,2093,169339,1236.0
3,NaN,Alabama,1,< 1 year,1,Female,F,White,2106-3,2144,347921,616.2
4,NaN,Alabama,1,< 1 year,1,Male,M,Asian or Pacific Islander,A-PI,33,7366,448.0

# Practice Explorations

### Groupby State and Sum the numeric features.

In [20]:
# Groupby State and sum
grouped = df.groupby(['State']).sum()

print(grouped.head())

            Notes  State Code   Deaths
State
Alabama       0.0          81   860780
Alaska        0.0         164    63334
Arizona       0.0         368   838094
Arkansas      0.0         405   522914
California    0.0         564  4307061


###Calculate the Correlation Coefficient between the Deaths and Population Columns (of your grouped dataframe)

In [23]:
#Drop "Not Applicable" from Population

df.groupby('Population').count()

#df['Population_clean'] = df[~df.Population.str.contains("Not Applicable")].head()

#Convert Population to integer
#pd.to_numeric(df['Population']).head()

,Notes,State,State Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Race,Race Code,Deaths,Crude Rate
Population,,,,,,,,,,,
1000,0,1,1,1,1,1,1,1,1,1,1
1000019,0,1,1,1,1,1,1,1,1,1,1
10004,0,1,1,1,1,1,1,1,1,1,1
1000704,0,1,1,1,1,1,1,1,1,1,1
1001,0,1,1,1,1,1,1,1,1,1,1
100131,0,1,1,1,1,1,1,1,1,1,1
100170,0,1,1,1,1,1,1,1,1,1,1
100285,0,1,1,1,1,1,1,1,1,1,1
100371,0,1,1,1,1,1,1,1,1,1,1
10042,0,1,1,1,1,1,1,1,1,1,1
1004475,0,1,1,1,1,1,1,1,1,1,1
100448,0,1,1,1,1,1,1,1,1,1,1
10051434,0,1,1,1,1,1,1,1,1,1,1
1005401,0,1,1,1,1,1,1,1,1,1,1
100545,0,1,1,1,1,1,1,1,1,1,1
10055,0,1,1,1,1,1,1,1,1,1,1
100717,0,1,1,1,1,1,1,1,1,1,1
100719,0,1,1,1,1,1,1,1,1,1,1
1007240,0,1,1,1,1,1,1,1,1,1,1
1007276,0,1,1,1,1,1,1,1,1,1,1
100765,0,1,1,1,1,1,1,1,1,1,1
100897,0,1,1,1,1,1,1,1,1,1,1
1009699,0,1,1,1,1,1,1,1,1,1,1
1010387,0,1,1,1,1,1,1,1,1,1,1
101066,0,1,1,1,1,1,1,1,1,1,1
101170,0,1,1,1,1,1,1,1,1,1,1
1011940,0,1,1,1,1,1,1,1,1,1,1
1012288,0,1,1,1,1,1,1,1,1,1,1
10127,0,1,1,1,1,1,1,1,1,1,1
1012849,0,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
97492,0,1,1,1,1,1,1,1,1,1,1
97506,0,1,1,1,1,1,1,1,1,1,1
97562,0,1,1,1,1,1,1,1,1,1,1
97601,0,1,1,1,1,1,1,1,1,1,1
97629,0,1,1,1,1,1,1,1,1,1,1
97652,0,1,1,1,1,1,1,1,1,1,1
977,0,1,1,1,1,1,1,1,1,1,1
978,0,1,1,1,1,1,1,1,1,1,1
9820664,0,1,1,1,1,1,1,1,1,1,1
9823,0,1,1,1,1,1,1,1,1,1,1
98304,0,1,1,1,1,1,1,1,1,1,1
9838,0,1,1,1,1,1,1,1,1,1,1
98522,0,1,1,1,1,1,1,1,1,1,1
98554,0,1,1,1,1,1,1,1,1,1,1
9899,0,1,1,1,1,1,1,1,1,1,1
9905,0,1,1,1,1,1,1,1,1,1,1
99070,0,1,1,1,1,1,1,1,1,1,1
992643,0,1,1,1,1,1,1,1,1,1,1
9937,0,1,1,1,1,1,1,1,1,1,1
994114,0,1,1,1,1,1,1,1,1,1,1
99497,0,1,1,1,1,1,1,1,1,1,1
99500,0,1,1,1,1,1,1,1,1,1,1
9955,0,1,1,1,1,1,1,1,1,1,1
9960,0,1,1,1,1,1,1,1,1,1,1
99665,0,1,1,1,1,1,1,1,1,1,1
99755,0,1,1,1,1,1,1,1,1,1,1
997738,0,1,1,1,1,1,1,1,1,1,1
9987,0,1,1,1,1,1,1,1,1,1,1
99987,0,1,1,1,1,1,1,1,1,1,1
Not Applicable,0,75,75,75,75,75,75,75,75,75,75

### Repeat this process across multiple features
Iterate over the following columns: ['Race', 'Gender', 'Ten-Year Age Groups']. Within your for loop, create a temporary groupby aggregate as we did for the State column above. Then, print any aggregate grouping where the correlation coefficient is less then .95.

In [9]:
#Your code here

### Combining Features

We can further expand upon our exploration above by testing multiple features against each other!
Complete the code below to print any combination of features where the correlation between population and death is below .95 (or some other appropriate threshold).

In [10]:
#This could also be accomplished with the combinations() method from the itertools package.
for n, feat1 in enumerate(features):
    for feat2 in features[n:]:
        #Your code here
        #groupby feat1 and feat2!!
        #repeat your code above to check if the correlation is below a [high] threshold.

SyntaxError: unexpected EOF while parsing (<ipython-input-10-5273001b01c3>, line 6)